.button-open-modal{
    margin: 150px 50px 0;
    appearance: none;
    backface-visibility: hidden;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    height: 50px;
    overflow: hidden;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  
}



.wrapper{
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;
    inset: 0px;
}

.modal-first{
    font-family: "HelveticaNeue";
    color: #fff;
    background-color: rgb(231, 76, 60);
    width: 516px;
    height: 252px;   
    display: flex;
    flex-direction: column;
    align-items: center;  
    &__header{
        font-size: 22px;
        font-family: "HelveticaNeue";
        line-height: 2.727;
        text-align: left;
        background-color: rgb(212, 70, 55);
        width: 516px;
        height: 68px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
    }
    :last-child button{
        color: #fff;
        width: 101px;
        height: 41px;
        border-radius: 4px;
        background-color: rgb(179, 56, 44);
        font-size: 15px;
        font-family: "HelveticaNeue";
        line-height: 2;
        text-align: center;
        margin-left: 10px;
        margin-top: 35px;
        margin-bottom: 24px;
    }
    &__close{
        background: none;
        color: #fff;
        font-size: 22px;
        font-family: "HelveticaNeue";
        line-height: 2.727;
    }
    &__text{
        margin: 39px 43px 0;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        line-height: 24px;
    }

}

.modal-second{
    background: #00BFB2;
    font-family: "Lato";
    color: #000;
    width: 600px;
    height: 300px; 
    border-radius: 20px;  
    display: flex;
    flex-direction: column;
    align-items: center;  
    &__header{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 66px;
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: #911910 solid 3px;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: #1D438A;
    }
    button{
        color: #fff;
        width: 50px;
        border-radius: 50%;
        background-color: #911910;
        font-size: 15px;
        line-height: 2;
        text-align: center;
        margin: 40px 52px;
    }
    &__text{
        margin-top: 32px;
        color: #1D438A;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
}



  